Repository ploomber/jupysql, pull requests merged in 2023-06, with the labels that each got.

#549 Remove duplicated CI integration testing
  .github/workflows/ci-integration-db-live.yaml
  .github/workflows/ci-integration-db.yaml
  .github/workflows/ci.yaml
Labels: allow-workflow-edits

#577 Skip tests if only doc has been modified
  .github/workflows/ci.yaml
Labels: allow-workflow-edits

#585 document integration test cloud vs local
  .github/workflows/ci-integration-db-live.yaml
  .github/workflows/ci-integration-db.yaml
Labels: allow-workflow-edits

#587 only trigger unit tests if code has been modified
  .github/workflows/ci.yaml
Labels: allow-workflow-edits

#455 Interact ggplot tutorial
  doc/_toc.yml
  doc/howto/ggplot-interact.md
Labels: Owner: Eduardo

#617 Fix CI
  .github/workflows/ci.yaml
Labels: allow-workflow-edits

#618 Integration Testing Issue - Mariadb
  src/sql/_testing.py
Labels: high priority, Ready For Review

#607 Upload test artifacts
  .github/workflows/ci-integration-db-live.yaml
  .github/workflows/ci-integration-db.yaml
  .github/workflows/ci.yaml
Labels: allow-workflow-edits, Ready For Review

#608 Changelog checking - CI
  .github/workflows/ci.yaml
  .github/workflows/workflow-edits.yml
Labels: allow-workflow-edits, no-changelog, Ready For Review

#626 Fixes CI
  .github/workflows/ci.yaml
Labels: allow-workflow-edits, no-changelog, Ready For Review

#628 Added `%sqlplot` tests
  src/tests/baseline_images/test_magic_plot/boxplot.png
  src/tests/baseline_images/test_magic_plot/boxplot_h.png
  src/tests/baseline_images/test_magic_plot/boxplot_null.png
  src/tests/baseline_images/test_magic_plot/boxplot_two.png
  src/tests/baseline_images/test_magic_plot/hist.png
  src/tests/baseline_images/test_magic_plot/hist_bin.png
  src/tests/baseline_images/test_magic_plot/hist_custom.png
  src/tests/baseline_images/test_magic_plot/hist_null.png
  src/tests/baseline_images/test_magic_plot/hist_two.png
  src/tests/conftest.py
  src/tests/test_magic_plot.py
Labels: no-changelog, Ready For Review

#668 Fixed CI (Doc checking)
  .github/workflows/ci.yaml
Labels: allow-workflow-edits, no-changelog

#654 518 refactor magic cmd
  CHANGELOG.md
  src/sql/cmd/__init__.py
  src/sql/cmd/cmd_utils.py
  src/sql/cmd/columns.py
  src/sql/cmd/explore.py
  src/sql/cmd/profile.py
  src/sql/cmd/snippets.py
  src/sql/cmd/tables.py
  src/sql/cmd/test.py
  src/sql/magic_cmd.py
Labels: no-changelog
